<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
  </ng-template>
  <p>
    La plataforma Android te ofrece una amplia gama de equipos de donde elegir, lo que significa que no importa cual sea tu actividad.
    Siempre encontrarás un equipo que se adapte a tu estilo o tipo de trabajo
  </p>
  <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>