<div class="grid gap-6 p-6 justify-content-center">
  <p-card header="Bienvenido a nuestra tienda de productos tecnológicos">
    <p class="m-0">
      En JJTecnology, nos apasiona ofrecerte una amplia variedad de productos tecnológicos de alta calidad,
      desde smartphones y laptops hasta impresoras y accesorios, de todas las marcas y precios. Nuestro objetivo es
      brindarte una experiencia de compra conveniente y satisfactoria, respaldada por nuestro compromiso con la excelencia y
      la satisfacción del cliente.
    </p>
  </p-card>
  <p-card header="¿Quiénes somos?">
    <p class="m-0">
      Somos un equipo de entusiastas de la tecnología con años de experiencia en la industria. Nos especializamos en
    seleccionar cuidadosamente los productos más innovadores y confiables para satisfacer tus necesidades tecnológicas.
    Nuestra pasión por los dispositivos electrónicos y nuestro conocimiento profundo nos permiten ofrecerte productos de
    alta calidad que te ayudarán a estar conectado, ser más productivo y disfrutar de una vida digital plena.
    </p>
  </p-card>
  <p-card header="Nuestra promesa">
    <p class="m-0">
      En JJTecnology, nos comprometemos a brindarte una experiencia de compra excepcional. Aquí están algunos de nuestros
    principios fundamentales:
    </p>
  </p-card>
  <ol>
    <li>Calidad y autenticidad: Trabajamos directamente con los fabricantes y distribuidores autorizados para garantizar
      que todos nuestros productos sean genuinos y de la más alta calidad. Solo ofrecemos productos que confiamos y
      usaríamos nosotros mismos.</li>
    <li>Variedad y selección: Entendemos que cada cliente tiene diferentes preferencias y necesidades tecnológicas. Por
      eso, hemos creado una amplia gama de productos de diferentes marcas, modelos y precios para que encuentres
      exactamente lo que estás buscando.</li>
    <li>Atención al cliente excepcional: Nuestro equipo de servicio al cliente está aquí para ayudarte en cada paso del
      proceso. Si tienes preguntas, inquietudes o necesitas asesoramiento, estaremos encantados de brindarte la asistencia
      necesaria para que tomes la mejor decisión de compra.</li>
    <li>Envío rápido y seguro: Nos comprometemos a enviar tus productos de manera rápida y segura. Trabajamos con
      servicios de entrega confiables para garantizar que tus productos lleguen a tiempo y en perfectas condiciones.</li>
  </ol>
  <h3>Explora nuestra tienda</h3>
  <p>Te invitamos a explorar nuestra tienda en línea y descubrir una amplia gama de productos tecnológicos emocionantes. Ya sea que busques el último smartphone de tu marca favorita, una laptop potente para el trabajo o accesorios prácticos para complementar tus dispositivos, estamos seguros de que encontrarás lo que necesitas.</p>
  <p>Gracias por elegir JJTecnology como tu destino para las compras tecnológicas. Esperamos servirte y proporcionarte productos que te ayuden a aprovechar al máximo el mundo digital.</p>
  <p>¡Disfruta de una experiencia de compra excepcional con nosotros!</p>
  <small>El equipo de JJTecnology</small>
  <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
      La plataforma Android te ofrece una amplia gama de equipos de donde elegir, lo que significa que no importa cual sea
      tu actividad.
      Siempre encontrarás un equipo que se adapte a tu estilo o tipo de trabajo
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
  </p-card>
</div>