<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://www.freepnglogos.com/uploads/mobile-circle-logo-png-30.png" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <p-button [label]="cartItemsCount" icon="pi pi-shopping-cart" [routerLink]="'/cart'" styleClass="p-button-primary"></p-button>
      <p-button label="Iniciar sesión" icon="pi pi-user" [routerLink]="'auth/login'" styleClass="p-button-secondary"></p-button>
    </ng-template>
</p-menubar>